
<div *ngIf="amenus" class=" p-2 h-100">
    <div class="input-group">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Search Dishes">
    </div>    

    <div class="row mt-2">
        <pre>
            {{ amenus | json }}
        </pre>        
        <div class="card col-md-4 p-2 mx-1 border-radius bg-warning" *ngFor="let menuItem of amenus.menuItems">
            <div class="card-body">
                {{menuItem.itemName}}
            </div>
            <button type="button" id="{{menuItem.id}}" class="btn btn-sm btn-danger" (click)="seleItem($event)">Select</button>
        </div>   
    </div>
</div>
<!-- <router-outlet></router-outlet> -->